<?xml version="1.0" ?>

<module xmlns="urn:jboss:module:1.1" name="se.laz.casual">

    <resources>
        <resource-root path="casual-inbound-handler-api-2.2.15.jar"/>
        <resource-root path="casual-fielded-annotations-2.2.15.jar"/>
        <resource-root path="casual-service-discovery-extension-2.2.15.jar"/>
        <resource-root path="casual-api-2.2.15.jar"/>
        <resource-root path="gson-2.10.1.jar"/>
    </resources>

    <dependencies>
        <module name="javaee.api"/>
        <module name="sun.jdk"/>
    </dependencies>
</module>